.home-container {
  display: flex;
}
.all-movies {
  width: 75%;
  min-height: calc(100vh - 80px);
  border-right: 1px solid #fdc827;
  font-family: "Roboto", sans-serif;
  padding:30px;
 
}

.movie {
  margin: 10px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:20px;
}

h4{
  text-transform: uppercase;
  font-weight: bold;
  border-left: 5px solid #ff9900;
}

.view-all {
  color: #ff9900;
  cursor: pointer;
}

.movies-thumbnail {
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-bottom: 30px;
}


.cover {
  cursor: pointer;

}
img {
  border-radius: 5px;
  width: 75%;
  height: 75%
}
.detail {
  width: 180px;
}

.name {
  font-weight: bold;
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
}

.filled {
  color: red;
}

.defaultHeart {
  position: relative;
  display: inline-block;
  color: gray;
  font-size: 25px;
  margin-right:3px;
}

.paintedHeart {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.rating {
  padding-right: 20px;
  position: relative;
}
.rating-value {
  position: absolute;
  top: 10px;
  right: 0px;
  left:115px;
  font-weight: bold;
}

.popular-movies {
  width: 25%;
  min-height: calc(100vh - 80px);
  padding: 20px 20px;
  font-family: "Roboto", sans-serif;
}
 h4{
  text-transform: uppercase;
  font-weight: bold;
  border-left: 5px solid #ff9900;
  padding-left: 10px;
}


.movies {
}
.movie {
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  align-items:center;
  justify-content:space-between;

}

.name {
  font-weight: bold;
  cursor: pointer;
}

.view-all {
  color: #ff9900;
  text-align: right;
  margin-top: 30px;
  cursor: pointer;
}

